[user]
	name = Kyle Mazza
	email = kyle.mazza@floqast.com

[color]
	all = true
	ui = true

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  features = decorations

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax

[push]
	default = simple

[core]
	quotepath = false
	editor = nvim
	
[init]
	defaultBranch = main

[pull]
	rebase = false

[alias]
	parent = ""
	new = ""
	delete = ""
	ls = ""
	rename = ""

[alias]
	c = "commit"
	cm = "commit"
	ca = "commit --amend"
	cv = "commit --verbose"
  current = "symbolic-ref --short HEAD"
	pom = "push origin main"
	poc = "!f() { git push origin $(git current); }; f"
	pof = "!f() { git push origin --force $(git current); }; f"
	puof = "!f() { git pull origin --force $(git current); }; f"
	puoc = "!f() { git pull origin $(git current); }; f"
	s = "status"
	b = "branch"
	d = "diff"
	co = "checkout"
	cot = "!f() { git fetch &> /dev/null; git checkout --track origin/$1; }; f"
	addl = "!f() { git ls-files --modified | xargs git add; }; f"
	addlu = "add ."
	boom = "!f() { echo \"Resetting files...\"; git reset --hard HEAD; }; f"
	rename = "branch -m"
	rn = "rename"
	st = "stash"
	std = "stash drop"
	sl = "stash list"
	slist = "stash list"
	slook = "stash list"
	speep = "stash list"
	sp = "stash pop"
	spop = "stash pop"
	spoop = "stash pop"
	poop = "stash pop"

